
<div class="mt-5 px-4">
  <h1>Ask your coach a question...</h1>

  <p>Go on, you can ask your coach anything:</p>

  <form action="/answer" class="form-inline">
    <div class="input-group input-group-md">
      <input type="text" name="question" class="form-control">
        <input type="submit" value="ask" class="btn btn-primary px-3">
    </div>
  </form>
</div>
