<div class="container">
  <div class="row justify-content-center">
    <div class="col mt-5">
      <h1>WELCOME HOME FRIEND!</h1>
      <%= link_to 'click here to ask coach a question', ask_path %>
    </div>
  </div>
</div>
